*{
    margin: 0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
    background: url("img/bj.jpg") no-repeat center cover;
}
.cha{
    width: 60px;
    height:80px;

    /*border-radius: 50%;*/
    text-align: center;
    line-height: 60px;
    font-size: 0px;
    color: coral;
    position: absolute;

    top:0;
    left:0;
}
.cha>img{
    display: block;
    width: 100%;
    height: 100%;
}
.re,.next,.jf,.sm{
    width: 100px;
    height: 50px;
    background: orange;
    border-radius: 10px;
}